@use 'sass:math';
@import '../scss/_variables.scss';
#game {

  @mixin button-color($value,$url) {
    background-color: $value !important;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 0;
    width: 75%;
    min-height: 75%;
    // padding-top: percentage(image-height($url) / image-width($url));
    &:hover {
      filter: brightness(110%);
    }
  }

  @mixin modal-content($value) {
    border-top: 10px solid $value;
    border-radius: 0;
    background-color: $incae-gray-light;
  }

  .main-container .row {
    margin-right: 0;
    margin-left: 0;
  }

  .modal {
    position: absolute;
    z-index: 10040 !important;

    .modal-dialog {
      width: 60em;
      position: fixed;
      right: 0%;
      top: -3.8%;
      pointer-events: auto;
    }

    .modal-presidencia-active {
      @include modal-content($president-color);
    }

    .modal-estrategiaybusinessoperations-active {
      @include modal-content($ebo-color);
    }

    .modal-compras-active {
      @include modal-content($purchasing-color);
    }

    .modal-recursoshumanos-active {
      @include modal-content($hr-color);
    }

    .modal-ventas-active {
      @include modal-content($sales-color);
    }

    .modal-marketing-active {
      @include modal-content($marketing-color);
    }

    .modal-finanzas-active {
      @include modal-content($finances-color);
    }

    .modal-operaciones-active {
      @include modal-content($operation-color);
    }

  }

  .person-name {
    cursor: pointer;
  }

  .thumbnail {
    width: 5em;
    height: 5em;
    cursor: pointer;
  }

  .progress {
    border-radius: 20px;
    background-color: gray;
    position: relative;

    span {
      margin-top: 3%;
      position: absolute;
      display: block;
      width: 100%;
      color: white;
    }
  }

  .progress-bar {
    background-color: $primary-color;
  }
  
  .transparent {
    position: fixed;
    opacity: 0.3;
    width: 100%;
    height: 10%;
  }

  area {
    cursor: pointer;
  }
  .main-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    #imagenxd{
      position:absolute;
      top: 0;
      left:30%;
      height: 100%;
      width: 70%;
    }
    #departments {
      background: linear-gradient(90deg, rgba(11,48,72,1) 0%, rgba(4,25,38,1) 100%);
      display: grid;
      gap: 0 0;
      grid-template-columns: 1fr 1fr;
      position: relative;
      padding-top: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 32%;
      
      button {
        width: 335px;
        height: 44px;
        margin-bottom: 15px !important;
      }

      .department-presidencia {
        @include button-color($president-color,'../img/icons/presidenciaIcono.png');
      }

      .department-estrategiaybusinessoperations {
        @include button-color($ebo-color,'../img/icons/estrategiaIcono.png');
      }

      .department-compras {
        @include button-color($purchasing-color,'../img/icons/comprasIcono.png');
      }

      .department-recursoshumanos {
        @include button-color($hr-color,'../img/icons/rrhhIcono.png');
      }

      .department-ventas {
        @include button-color($sales-color,'../img/icons/ventasIcono.png');
      }

      .department-marketing {
        @include button-color($marketing-color,'../img/icons/marketingIcono.png');
      }

      .department-finanzas {
        @include button-color($finances-color,'../img/icons/finanzasIcono.png');
      }

      .department-operaciones {
        @include button-color($operation-color,'../img/icons/operacionesIcono.png');
      }
    }
  }
}