<div id="game" class="incae-container d-flex flex-row-reverse">
  <navbar></navbar>
  <div class="d-flex flex-column-reverse flex-grow-1">
    <bottom-navbar></bottom-navbar>
    <div class="main-container">
        <div id="departments">
          <div ng-repeat="department in vm.departments | orderBy: 'departmentInfo.id'">
            <button class="btn btn-rounded-primary mx-3 my-1 department-{{department.departmentInfo.name.split(' ').join('') | lowercase}}"
            ng-click="vm.openDepartment(department)">{{department.departmentInfo.name}}
          </button>
      </div>
    </div>
    <img src="../img/mainBackground.png" id="imagenxd"></img>
  </div>
  
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class=" modal-{{vm.selectedDepartment.departmentInfo.name.split(' ').join('') | lowercase}}-active px-5">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title my-4" id="exampleModalLabel">{{vm.selectedDepartment.departmentInfo.name}}
            <span>({{vm.selectedDepartment.leadershipChangeScore | number:2}}%)</span>
          </h3>
          <div>
            <div ng-repeat="person in vm.people" class="row my-4">
              <img class="thumbnail" ng-click="vm.goToPerson(person)" ng-src="{{'../img/employees/' + person.employeeInfo.profilePicture}}" />
              <div class="col col-8">
                <p class="my-1 name"><span class="person-name" ng-click="vm.goToPerson(person)">{{person.employeeInfo.name}}</span><br>
                  <small>{{person.employeeInfo.jobTitle}}</small>
                </p>
                <div class="progress">
                  <span>{{person.commitmentLevel | number:1}}%</span>
                  <div class="progress-bar" role="progressbar" style="width: {{person.commitmentLevel | number:1}}%;"
                    aria-valuenow="{{person.commitmentLevel | number:1}}" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
