@import '../../scss/_variables.scss';

#admin-users {
  height: 100%;
  display: flex;

  .container {
    margin-top: 50px;
  }

  .card-header {
    color: white;
    background-color: $primary-color;
  }

  .admin-header {
    height: 70px;
  }

  table {
    color: gray;
  }

  .table-header {
    color: $primary-color;
    th {
        padding: 0.4em;
        text-align: center !important;
    }
  }

  .action {
    padding: 0.5em 1em !important;
  }

  @mixin placeholder {
    &::-webkit-input-placeholder {
      @content;
    }
    &:-moz-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
    &:-ms-input-placeholder {
      @content;
    }
  }
  .gray-placeholder {
    border-radius: 3px;
    @include placeholder {
      color: $incae-gray;
    }
  }

  @mixin modal-content($value) {
    border-top: 10px solid $value;

  }

  .modal {
    border-radius: 10px;

    .modal-dialog {
      width: 60em;

      .modal-header {
        color: white;
        background-color: $primary-color;

        .close {
          border: 0;
        }
      }

      .modal-body {
        background-color: white;
        padding: 0;

        input[type=text], input[type=password]{
          border-color:#ccc;
          box-shadow: none;
        }
      }
    }
  }
}
