<div id="admin-users">
  <div class="container push-bottom">
    <div class="card">
      <admin-navbar></admin-navbar>
      <div class="row mx-2 my-2 form-group">
        <div class="col-12 mx-2 my-2">
          <button class="btn btn-outline-secondary pull-right action" ng-click="vm.openModal()">
            Agregar Administrador
          </button>
        </div>
      </div>
      <div>
        <table class="table table-hover text-center">
          <thead class="table-header bg-faded">
            <tr class="admin-header">
              <th>Administradores</th>
              <th>Nivel</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in vm.users">
              <td>{{user.name}}</td>
              <td>{{user.role.name}}</td>
              <td>
                <button class="btn btn-outline-secondary action" ng-if="vm.currentUser.username !== user.login"
                  ng-click="vm.deleteAdmin(user)"><i class="fa fa-trash-o fa-fw"></i></button>
              </td>
            </tr>

            <tr ng-if="vm.loadingUsers">
              <td colspan="6">Cargando usuarios...</td>
            </tr>
            <tr ng-if="!vm.loadingUsers && (!vm.users.length || vm.users.length === 0)">
              <td colspan="6">Aún no existen usuarios</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header p-2">
            <h5>Agregar nuevo administrador</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center p-2">
              <div class="col">
                <input type="text" class="form-control mb-2 gray-placeholder" placeholder="Nombre del administrador"
                  ng-model="vm.newUser.name" />
              </div>
            </div>
            <div class="row justify-content-center p-2">
              <div class="col">
                <input type="text" class="form-control mb-2 gray-placeholder" placeholder="Nombre de usuario"
                  ng-model="vm.newUser.login" />
              </div>
            </div>
            <div class="row justify-content-center p-2">
              <div class="col">
                <input type="password" class="form-control mb-2 gray-placeholder" placeholder="Contraseña"
                  ng-model="vm.newUser.password" />
              </div>
            </div>
            <div class="row justify-content-center p-2">
              <div class="col m-2">
                <button class="btn btn-outline-secondary pull-right action" ng-click="vm.createAdmin()">
                  Agregar nuevo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>