<div id="game-explanation" class="incae-background">
  <img id="img1" src="../../img/mosaico1.png" alt="Card image cap">
  <img id="img2" src="../../img/mosaico2.png" alt="Card image cap">
  <img id="img3" src="../../img/mosaico3.png" alt="Card image cap">
  <button id="botonk" type="button" class="button-59" ng-click="vm.goToGame()">Entendido</button>
  <!-- <div class="card-block">

    <div class="row justify-content-md-center">
      <div class="card gray-card col-md-3 mx-4">
        <img id="img1" class="card-img-top img-fluid my-2 mx-2" src="../../img/mosaico1.png" alt="Card image cap">
      </div>
      <div class="card gray-card col-md-3 mx-4">
        <img id="img2" class="card-img-top img-fluid my-2 mx-2" src="../../img/mosaico2.png" alt="Card image cap">
      </div>
      <div class="card gray-card col-md-3 mx-4">
        <img id="img3" class="card-img-top img-fluid my-2 mx-2" src="../../img/mosaico3.png" alt="Card image cap">
      </div>
    </div>
    <div class="row justify-content-md-center mt-3">
      <button type="button" class="btn btn-outline-primary" ng-click="vm.goToGame()">Entendido</button>
    </div>
  </div> -->
</div>
