@import '../../scss/_variables.scss';

#game-explanation {
  min-height: 100%;
  display: flex;
  align-items: center;
  .container{
    min-width: 85%;
  }
  .gray-card {
    background-color: $incae-gray-middle;
    padding: 0;
    min-height: 470px;
  }
  .card-text {
    color: white;
    font-size: 15px;
  }
  .card-title {
    color: white;
    font-weight: bold;
  }
  /*Revisar Simetría de las Tarjetas*/
  #img1 {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 33%;
  }
  #img2{
    position: absolute;
    left: 33%;
    height: 100%;
    width: 34%;
  }
  #img3{
    position: absolute;
    left: 66.666%;
    height: 100%;
    width: 33%;
  }
  
  #botonk{
    position: absolute;
    left: 46%;
    bottom: 5%;
    z-index: 1;
  }

  .button-59 {
    align-items: center;
    background-color: transparent;
    border: 1px solid #46D8C9;
    border-radius: 50px;
    box-sizing: border-box;
    color: #46D8C9;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 140px;
  }

  /* .button-59:hover {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #46D8C9;
    fill: #ffffff;
  }

  .button-59:active {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #46D8C9;
    fill: #ffffff;
  } */
}