<div id="login" class="incae-background">
    <form class="d-flex flex-column justify-content-center col-md-5 col-sm-6 col-lg-4">
        <h2 class="text-white mb-4 text-center">AGILECHANGERS</h2>
        <div class="form-group">
        <input class="form-control form-control-sm border-0 my-3 text-center font-weight-bold rounded" type="text"
          ng-model="vm.user.username" placeholder="Nombre de usuario"></input>
        </div>
        <div class="form-group">
        <input class="form-control form-control-sm border-0 my-2 text-center font-weight-bold rounded" type="password"
          ng-model="vm.user.password" placeholder="Contraseña"></input>
        </div>
        <button class="btn btn-outline-primary rounded-pill bg-white mt-3 mb-1 p-1 border-white" ng-click="vm.login()">Iniciar
          sesión</button>
        <button class="btn btn-outline-primary rounded-pill bg-white my-2 p-1 border-white" ng-click="vm.goToGame()">Ir a
          simulador</button>
      </form>
  </div>