@import '../scss/_variables.scss';
#people {
width: 100%;
  height: 100%;
  display: flex;
  .buttonTab {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: small; 
    text-transform: uppercase;
    width: 100%;
    background-color:$incae-gray;
    text-align: justify;
    padding: 5%;
    margin-left: 0%;
    border: 0;
    color: white;
    cursor: pointer;
  }

  .container{
  height: 500px !important;
  margin-top: 7%;
  }

  .content-container{
    height: 370px;
    overflow: auto;
    p {
      word-break: normal;
      text-indent: 3%;
      text-align: justify;
      font-style: normal;
      overflow: hidden;
      padding-right: 3%;
    }
  }
  #scroll::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $incae-gray;
  }


  .card-block {
    padding: 0 0 0 0;
  }

  .leftMenu {
     background-color: $incae-gray;
    width: 40%;
    text-align: left;
    color: white;
    margin-right: 1.4%;
    align-content: center;
    border: 0px;

    a{
      color: $incae-gray-light;
    }

    a:hover{
      text-decoration: none;
      outline: none;
    }

    #name{
      text-align: center;
      color: $incae-gray-light;
      font-size: large;
      margin-top: 0%;
      margin-bottom: 0;
    }

    #description{
      color:lightblue;
      text-align: center;
      font-size: large;
      margin-bottom: 10%;
     }

    ul{
      list-style: none;
      padding-left: 0px;
     }

    img{
      text-align: left;
      margin-right: 5%;
      background-color: $incae-gray;
    }

    .buttonTab:hover, .selectedTab {
      background : white;
      color: $incae-gray;
      outline: none;
     }

    #iconMenu{
      width: 7%;
      height: 7%;
     }

    #imgPeople{
      margin-top: 5%;
      width: 30%;
      margin-left: 35%;
    }
  }
  .rightMenu{
    background-color: white;
    width: 56%;
    border: 15px solid white;
    position: relative;

    .btn-outline-primary{
      margin-left: 60%;
      margin-top: 5%;
      padding-bottom: 20%;     
      position: relative;   
    }

    .titleName{
      color: $incae-gray;
      padding-top: 4%;
      padding-bottom: 5%;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
