
<div id="people" class="incae-background">
  <div class="container">
    <div class="card">
      <div class="card-block">
        <div class="row justify-content-md-center">
          <div class="leftMenu">
            <img id="imgPeople" ng-src="{{'../img/employees/' + vm.person.employeeInfo.profilePicture}}">
            <div><p id="name">{{vm.person.employeeInfo.name}}</p></div>
            <div><p id="description">{{vm.person.employeeInfo.jobTitle}} </p></div>
            <ul>
              <button ng-class="{selectedTab : tab === vm.selected}" class="buttonTab" ng-repeat="tab in vm.tabs" ng-click="vm.select(tab)" ><img id="iconMenu" src="/img/icon.png">{{tab.title}}</button>
            </ul>
          </div>
          <div class="rightMenu">
            <div class="selectedText">
              <h4 class="titleName">{{vm.selected.title}}</h4>
              <div class="content-container"><p>{{vm.selected.content}}</p></div>
              <button type="button" class="btn btn-outline-primary float-center" ng-click="vm.goToGame()">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
