<div id="home" class="incae-background">
  <div class="container">
    <div class="row logo">
      <img src="../img/incae_blanco.png" class="incae-logo">
    </div>
    <div class="row presentation-header">
      <h1 class="text-center">¿Crees poder salvar a Casa Augusta?</h1>
    </div>
    <div id="login-form">
      <form name="login-form" class="css-form" ng-submit="vm.login()">
        <div class="form-group">
          <input type="text" class="username-input form-control" name="username" ng-model="vm.user.username" placeholder="Nombre de usuario"/>
        </div>
        <div class="form-group">
          <input type="password" class="password-input form-control" name="passsword" ng-model="vm.user.password" placeholder="Contraseña"/>
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg btn-login" value="Ingresar" />
      </form>
    </div>
  </div>
</div>