@import '../scss/_variables';
#home {
  min-height: 100%;
  min-width: 100%;

  .container {

    .logo {
      justify-content: center;

      .incae-logo {
        margin: 50px auto 50px auto;
      }
    }

    .presentation-header {
      justify-content: center;
      color: white;
      margin: 50px auto 50px auto;
      h1 {
        font-size: 25pt;
      }
    }

    #login-form {
      background-color: white;
      padding: 30px;
      border-radius: 15px;
      width: 50%;
      margin: auto;

      .css-form {
        .btn-login {
          border: 2px solid $primary-color;
          border-radius: 20px;
          background-color: white;
          color: $primary-color;
          font-size: 12pt;
          text-align: center;
        }
    
        .btn-login:hover {
          color: white;
          background-color: $primary-color;
        }
      }
    }
  }
}