@import '../../scss/_variables';

#game-create {
  height: 100%;
  display: flex;
  align-items: center;
  color: gray;
  .container {
    margin: 30px auto auto auto;
  }
  .card-header {
    background-color: $incae-gray;
  }
  .card {
    border: none;
    .fa-warning {
      color: red;
      cursor: pointer;
    }
    .fa-save {
      cursor: pointer;
      border: 1px solid;
      padding: 6px;
      border-radius: 8px;
      outline: none;
    }
  }
  .fa-plus {
    font-size: 1.5em;
  }
  .user-data-inputs {
    input {
      margin-right: 10px;
      border-radius: 5px;
      background-color: white;
    }
    input::placeholder {
      color: gray;
    }
    .input-group-btn .btn-secondary {
      padding: 0em 0.5em;
      color: $incae-gray;
      background-color: white;
      border-color: white;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: white !important;
        background-color: gray !important;
      }
    }
  }
  @mixin placeholder {
    &::-webkit-input-placeholder {
      @content;
    }
    &:-moz-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
    &:-ms-input-placeholder {
      @content;
    }
  }
  .white-placeholder {
    @include placeholder {
      color: white;
    }
  }
  .gray-placeholder {
    @include placeholder {
      color: gray;
    }
  }
  .card-text {
    overflow-y: scroll;
    max-height: 160px;
    .update-username {
      display: none;
      width: 35%;
      .update-username-input {
        width: 80%;
        outline: none;
      }
    }
  }
}