<div id="game-create" class="incae-background">
  <div class="container col-md-7 col-lg-10">
    <div class="card">
      <div class="card-header px-5 py-5">
        <div class="user-data-inputs input-group">
          <input type="text" class="form-control" placeholder="Nombre de tu equipo" ng-model="vm.game.name" aria-describedby="sizing-addon1"/>
          <input type="password" class="form-control" placeholder="Contraseña" ng-model="vm.game.user.password" aria-describedby="sizing-addon1"/>
        </div>
        <div class="input-group input-group-lg">
          <h5 class="mt-2">Añadir jugador</h5>
          <div class="user-data-inputs input-group">
            <input type="text" class="form-control" placeholder="Nombre de jugador" ng-model="vm.teamMember.name" aria-describedby="sizing-addon1"/>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" ng-click="vm.addTeamMember(vm.teamMember)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
          </div>
        </div>
      </div> 
      <div class="card-block px-5">
        <div class="card-text">
          <table class="table text-center tactics-list">
            <thead class="table-header">
              <tr>
                <th colspan="4">Jugadores</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="teamMember in vm.teamMembers track by $index" ng-class="'selected-'+$index">
                <td>{{$index + 1}}</td>
                <td>{{teamMember.name}}</td>
                <td class="wrapper-btn-td">
                  <button class="btn btn-rounded-outline-secondary" ng-click="vm.removeTeamMember(teamMember)"><i class="btn-remove-team-member fa fa-trash-o fa-fw"></i></button>
                </td>
              </tr>
              <tr ng-if="!vm.teamMembers.length || vm.teamMembers.length === 0">
                <td colspan="4">Aún no se han añadido jugadores</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-center">
          <button class="btn btn-rounded-primary mx-3 my-1" ng-disabled="vm.isCreatingGame" ng-click="vm.createGame()">Aceptar <i ng-if="vm.isCreatingGame" class="fa fa-refresh fa-spin fa-fw"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>
