<div class="incae-container">
  <div id="kanban" class="board">
    <div class="board-bar">
      <p class="board-name">
        ESTRATEGIA DE CAMBIO
      </p>
        <span class="pull-right">
          <div ng-if="vm.game.status != 'FINISHED_LOST' && vm.game.status != 'FINISHED_WON'">
            <button id="btn-end" class="btn-end-game" ng-click="vm.showConfirmationPopup()"> Finalizar juego </button>
          </div>
        </span>
      <div class="row">
        <div class="col">
          <p id="daysRemaining" class="text-right"> DÍAS PLANIFICADOS: <span class="greenText">{{vm.plannedDays}}</span>
            / 360
          </p>
          <p id="budgetRemaining" class="text-right">PRESUPUESTO PLANIFICADO: $ <span
              class="greenText">{{vm.plannedBudget}}</span> / 1M</p>
        </div>
        <div class="col">
          <p id="daysRemaining" class="text-left"> DÍAS APLICADOS: <span class="greenText">{{vm.appliedDays}}</span> /
            360</p>
          <p id="budgetRemaining" class="text-left">PRESUPUESTO APLICADO: $ <span
              class="greenText">{{vm.appliedBudget}}</span> / 1M</p>
        </div>
      </div>  
    </div>
    <div class="board-wrapper">
      <div class="board-columns">
        <div id="0" uib-collapse="isCollapsed" class="board-column zeroeth-column">
          <div class="column-title">Decisiones</div>
          <div id="c{{tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.tactics"
            class="task sortable" ng-class="{true: 'task-applied'}[vm.game.status === 'FINISHED_LOST' || vm.game.status === 'FINISHED_WON']">
            <p>
              {{tactic.name}}
              <br />
              <span class="desc"> {{tactic.description}} </span>
              <br />
              <span class="greenText">
                $:{{tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.days}}
              </span>
            </p>
          </div>
        </div>
        <div id="1" class="board-column">
          <div class="column-title">Documentar: recopilar información y entender el entorno</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[1]"
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
        <div id="2" class="board-column">
          <div class="column-title">Identificar los problemas y sus causas</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[2] "
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
        <div id="3" class="board-column">
          <div class="column-title">Mapear las partes interesadas</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[3]"
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
        <div id="4" class="board-column">
          <div class="column-title">Definir Visión y delinear la Estrategia</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[4]"
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
        <div id="5" class="board-column">
          <div class="column-title">Comunicar: Definir qué y cómo comunicar</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[5]"
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
        <div id="6" class="board-column">
          <div class="column-title">Implementar y Medir la estrategia</div>
          <div id="c{{tactic.tactic.id}}" ng-if="!vm.loading && vm.firstRender" ng-repeat="tactic in vm.allcols[6]"
            class="task" ng-class="{true: 'task-applied'}[tactic.isApplied]">
            <p>
              {{tactic.tactic.name}}
              <br />
              <span class="desc">
                {{tactic.tactic.description}}
              </span>
              <br />
              <span class="greenText">
                $:{{tactic.tactic.price.toLocaleString()}}
                <br />
                Días: {{tactic.tactic.days}}
              </span>
              <br />
              <br />
              <span><button class="btn-show" ng-if="!tactic.isApplied"
                  ng-click="vm.applyDecision(tactic)">Aplicar</button>
                <i class="fa fa-check done-check" ng-if="tactic.isApplied"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <bottom-navbar></bottom-navbar>
</div>