@import "../scss/_variables.scss";

.board {
  width: 100%;
  background: linear-gradient(90deg, rgba(11, 48, 72, 1) 0%, #041926 100%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: inherit;
    text-align: center;
    padding: 8px 15px;
    color: white;
    font-size: 20px;
    font-weight: normal;

    .board-name {
      font-weight: bold;
      font-size: 38px;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-wrap: nowrap;
      align-content: space-between;
      justify-content: space-around;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        align-items: center;
        min-width: 14%;
        max-height: 800px;
        text-align: center;
        border-radius: 4px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 25px;
        background: rgba($color: white, $alpha: 0.05);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: #FFF;
        }
      }

      .zeroeth-column {
        background: rgba($color: #FFF, $alpha: 0.3);

        .column-title {
          color: #FFF;
        }
      }
    }
  }
}

.board-column::-webkit-scrollbar {
  display: none;
}

.task {
  display: flex;
  background: #0B3047;
  align-items: center;
  width: fit-content;
  color: #78E2D8;
  font-size: 14px;
  font-weight: 800;
  border-bottom: solid 1px #46d8C1;
  border-radius: 4px;
  display: flex;
  margin-bottom: 5px;
  padding: 0px 12px;
  width: 135%;

  .desc {
    color: white;
    font-size: 14px;
  }

  .btn-show {
    font-size: 14px;
    border-radius: 50px !important;
    color: white;
    border-color: #a7a9ac !important;
    background-color: #0a808f !important;

    &:hover {
    background-color: #46d8C1 !important;
    }
  }

  .btn-0

  .decision-btn {
    display: none;
  }
}

.btn-end-game {
  background-color: #0a808f !important;
  color: white;
  border-radius: 50px;  
  border-color: #0B3047;
  font-size: 18px;
  margin-right: 50px;
}

.task-applied {
  pointer-events: none;
}

.greenText {
  color: #1ec738;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.hidden {
  display: none;
}

.sortable {
  cursor: pointer;
}

.sortable-ghost {
  color: #000;

  .orangeText {
    color: #000;
  }

  .desc {
    color: #000;
  }

  background-color: #fff;
  opacity: .60;
}