<div id="case" class="incae-background">
  <div class="container">
    <div class="card">
      <div class="card-block">
        <div class="row justify-content-md-center">
          <div class="leftMenu">
            <div><p id="name">{{vm.cases.name}}</p></div>
            <ul>
              <button ng-class="{selectedTab : tab === vm.selected}" class="buttonTab" ng-repeat="tab in vm.tabs" ng-click="vm.select(tab)" >
                <img id="iconMenu" src="/img/icon.png"> {{tab.title}}
              </button>
            </ul>
          </div>
          <div class="rightMenu">
            <div class="selectedText">
              <h6 class="titleName">{{vm.selected.title}}</h6>
              <div class="content-container" id="scroll" ng-bind-html="vm.selected.content"></div>
              <button type="button" class="btn btn-outline-primary float-center" ng-click="vm.goToGame()">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
