@import '../scss/_variables.scss';
#case {
  width: 100%;
  height: 100%;
  display: flex;
  .buttonTab {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: small; 
    text-transform: uppercase;
    width: 100%;
    background-color:$incae-gray;
    text-align: justify;
    padding: 5%;
    margin-left: 0%;
    border: 0;
    color: white;
    cursor: pointer;
  }

  .container{
  height: 500px !important;
  margin-top: 6%;
  }

  .content-container{
    height: 370px;
    overflow: auto;
    p {
      word-break: normal;
      text-indent: 3%;
      text-align: justify;
      font-style: normal;
      overflow: hidden;
      padding-right: 3%;
    }
    img {
      width: 800px;
      height: 600px;
    }
  }
  #scroll::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $incae-gray;
  }


  .card-block {
    padding: 0 0 0 0;
  }

  .leftMenu {
    background-color: $incae-gray;
    width: 40%;
    text-align: left;
    color: white;
    margin-right: 1.4%;
    border: 0px;

    a{
      color: $incae-gray-light;
    }

    a:hover{
      text-decoration: none;
      outline: none;
    }

    #name{
      text-align: center;
      color: $incae-gray-light;
      font-size: large;
      margin-top: 2%;
      margin-bottom: 10%;
    }

    ul{
      list-style: none;
      padding-left: 0px;
    }

    .buttonTab:hover, .selectedTab {
      background: $incae-gray-case-selected;
      color: white;
      outline: none;
    }

    #iconMenu{
      width: 7%;
      height: 7%;
    }
  }

  .rightMenu{
    background-color: white;
    width: 56%;
    border: 15px solid white;
    position: relative;

    .btn-outline-primary{
      margin-left: 60%;
      margin-top: 5%;
      padding-bottom: 20%;     
      position: relative;   
    }

    .titleName{
      color: $incae-gray;
      padding-top: 4%;
      padding-bottom: 5%;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
}