<div id="game-welcome" class="incae-background">
  <div class="container">
    <div class="card my-5">
      <div ng-if="!vm.loading" class="card">
        <img class="card-img-top img-fluid" src="../../img/workplace.jpg" alt="Card image cap">
        <div class="card-block">
          <h1 class="card-title">Bienvenidos "{{vm.currentTeam}}"</h1>
          <p class="card-text col-md-8">
            {{vm.companyName}} necesita de su ayuda. ¿Pueden evaluar la situación, crear un plan de cambio y
            ponerlo en práctica con éxito para que {{vm.companyName}} alcance 70% en Cultura de Cambio?
          </p>
          <button type="button" class="btn btn-outline-primary float-right"
            ng-click="vm.goToExplanation()">Siguiente</button>
          <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal"
            data-target="#rename-game">Nombre Equipo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="rename-game" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Equipo {{vm.currentTeam}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="game-input-name">
            <div class="input-group input-group-lg">
              <label>Digite el nuevo nombre del equipo</label>
              <div class="game-data-inputs input-group">
                <input type="text" class="form-control" ng-model="vm.newName" aria-describedby="sizing-addon1" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="vm.updateGameName()">Aceptar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>