@import '../../scss/_variables.scss';

#game-welcome {
  min-height: 100%;
  display: flex;
  align-items: center;

  .container {
    min-width: 75%;
    button {
      margin: 5px 10px 5px auto;
      text-align: center
    }
  }
  .card {
    border: none;
  }
  .card-title {
    color: gray;
  }
  .card-block {
    padding: 3em;
  }
  .card-text {
    padding: 0;
  }

  .modal-dialog {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .modal-footer {
    .btn-primary {
      color: white;
      background-color: $primary-color;
    }

    .btn-primary:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}
