@import "../../scss/_variables.scss";

#navbar {
  background: $finances-color;
  width: 23em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 2000;

  p {
    font-size: 12px;
    color: $incae-gray-light;
  }

  .labelText {
    font-size: 18px;
    font-weight: bold;
  }
  .rz-bar-wrapper,
  .rz-bar,
  .rz-pointer-min,
  .rz-pointer-max,
  .rz-bubble {
    visibility: hidden !important;
  }
  .rz-tick {
    cursor: default;
  }
  .rzslider {
    margin-top: 0.4em;
    .rz-tick.rz-selected {
      background: $incae-gray;
    }
  }
  .img-indicator {
    height: 40px;
    width: 40px;
  }
  .img-money {
    margin-top: 10px;
    height: 30px;
    width: 40px;
  }
  .exit {
    .close-session-button {
      margin-top: 8px;
      float: right;
      background-color: $finances-color;
      color: $incae-gray-light;
      cursor: pointer;
      font-weight: bold;
      border-radius: 12px;
      min-width: 100%;
    }

    .close-session-button:active {
      background-color: $incae-blue-button-active;
      transform: translateY(4px);
    }
  }
}

#small_navbar {
  background: #041926;
  width: 8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  right: 0%;
  text-align: center;
  z-index: 2000;

  div {
    flex-grow: initial;
  }

  p {
    font-size: 12px;
    color: $incae-gray-light;
  }

  .labelText {
    font-size: 18px;
    font-weight: bold;
  }
  .rz-bar-wrapper,
  .rz-bar,
  .rz-pointer-min,
  .rz-pointer-max,
  .rz-bubble {
    visibility: hidden !important;
  }
  .rz-tick {
    cursor: default;
  }
  .rzslider {
    margin-top: 0.4em;
    .rz-tick.rz-selected {
      background: $incae-gray;
    }
  }
  .img-indicator {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-money {
    margin-top: 10px;
    height: 30px;
    width: 40px;
  }
  .img-logout {
    width: 40px;
    height: 35px;
    margin-top: 8px;
    cursor: pointer;
  }
  .exit {
    .close-session-button {
      margin-top: 18px;
      float: right;
      background-color: $finances-color;
      color: $incae-gray-light;
      cursor: pointer;
      font-weight: bold;
      border-radius: 12px;
      min-width: 100%;
    }
    .close-session-button:active {
      background-color: $incae-blue-button-active;
      transform: translateY(4px);
    }
  }
}

#toggle-button {
  height: 100%;
  width: 1em;
  align-items: center;
  background: $toggle-color;
  padding: 0;
  border: none;
  font-weight: bold;
  color: azure;
}
