<div class="sidebar d-flex h-100">

  <button id="toggle-button" ng-click="vm.navbarServices.toggleCollapseState()" title="Detalles"> < </button>

  <div id="navbar" ng-show="vm.navbarServices.getCollapseState()">

    <div class="row mx-4">
      <div class="col exit mt-2 mx-5">
        <button ng-click="vm.exit()" class="close-session-button mb-5">Cerrar Sesión</button>
      </div>
    </div>

    <div class="row mt-3 mx-4" hidden>
      <div class="col-2 pl-2">
        <img class="img-indicator" src="../../img/sad.png" />
      </div>
      <div class="col-8 p-0">
        <p class=" my-0 labelText">Liderazgo de cambio ({{vm.game.leadershipChangeScore | number:2}}%)</p>
        <div class="row ml-1">
          <p>0</p>
          <rzslider class="col col-10" rz-slider-model="0" rz-slider-high="vm.game.leadershipChangeBase10"
            rz-slider-options="vm.sliderOptions"></rzslider>
          <p>100</p>
        </div>
      </div>
      <div class="col-2 ml-0">
        <img class="img-indicator" src="../../img/happy.png" />
      </div>
    </div>

    <div class="row mt-5 mx-4">
      <div class="col-2">
        <img class="img-indicator " src="../../img/calendario.png" />
      </div>
      <div class="col-10">
        <p class=" my-0 labelText"> Días restantes ({{vm.game.availableDays}})</p>
        <div class="row ml-0">
          <p>0</p>
          <rzslider class="col col-8" rz-slider-model="0" rz-slider-high="vm.game.daysBase10"
            rz-slider-options="vm.sliderOptions"></rzslider>
          <p>360</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 mx-4">
      <div class="col-2">
        <img class="img-money mr-2" src="../../img/dolar.png" />
      </div>
      <div class="col-10">
        <p class=" my-0 labelText">Presupuesto (${{vm.game.budget | number}})</p>
        <div class="row ml-1">
          <p>$0</p>
          <rzslider class="col col-7" rz-slider-model="0" rz-slider-high="vm.game.budgetBase10"
            rz-slider-options="vm.sliderOptions"></rzslider>
          <p>$1 M</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 mx-4">
      <div class="col-2 pl-2">
        <img class="img-indicator" src="../../img/reload.png" />
      </div>
      <div class="col-8 p-0">
        <p class=" my-0 labelText">Cultura de cambio ({{vm.game.culturalChangeScore | number:2}}%)</p>
        <div class="row ml-1">
          <p>0</p>
          <rzslider class="col col-10" rz-slider-model="0" rz-slider-high="vm.game.culturalChangeBase10"
            rz-slider-options="vm.sliderOptions"></rzslider>
          <p>100</p>
        </div>
      </div>
    </div>
  </div>

  <div id="small_navbar" ng-show="!vm.navbarServices.getCollapseState()">

    <div class="exit mb-5 mt-2">
      <img class="img-logout" ng-click="vm.exit()" src="../../img/salir.png" title="Cerrar Sesión">
    </div>

    <div class="mt-1" hidden>
      <img ng-show="vm.leadershipChangeIcon" class="img-indicator" src="../../img/happy.png"
        title="Liderazgo de cambio" />
      <img ng-show="!vm.leadershipChangeIcon" class="img-indicator" src="../../img/sad.png"
        title="Liderazgo de cambio" />
      <p class="labelText">{{vm.game.leadershipChangeScore | number:2}}%</p>
    </div>

    <div class="mt-4">
      <img class="img-indicator" src="../../img/calendario.png" title="Días restantes" />
      <p class="labelText">{{vm.game.availableDays}}</p>
    </div>

    <div class="mt-4">
      <img class="img-money" src="../../img/dolar.png" title="Presupuesto" />
      <p class="labelText">${{vm.game.budget | number}}</p>
    </div>

    <div class="mt-4">
      <img class="img-indicator" src="../../img/reload.png" title="Cultura de cambio" />
      <p class="labelText">{{vm.game.culturalChangeScore | number:2}}%</p>
    </div>
  </div>
</div>
