#admin-navbar {
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float:none;
  }

  .row {
    margin: 0px;
  }

  .logout-button {
    width: 0%;
  }

  .img-logout {
    cursor: pointer;
    width: 40px;
    height: 35px;
  }
}
