<div id="admin-navbar">
  <div class="card-header row text-center">
    <div class="w-100">
      <h2>AGILECHANGERS</h2>
    </div>
    <div class="logout-button">
      <img class="img-logout pull-right" ng-click="vm.logout()"" src="../../img/main_logout.png" title="Cerrar Sesión">
    </div>

  </div>
  <nav class="navbar navbar-toggleable-md navbar-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-class="{active : 'admin' === vm.current}">
          <a class="nav-link" href="#" ng-click="vm.goToAdminTeams()">Equipos</a>
        </li>
        <li class="nav-item" ng-class="{active : 'admin-users' === vm.current}">
          <a class="nav-link" href="#" ng-click="vm.goToAdministrators()">Administradores</a>
        </li>
        <li class="nav-item" ng-class="{active : 'consolidated-results' === vm.current}">
          <a class="nav-link" href="#" ng-click="vm.goToConsolidatedResults()">Resultados de deficiencia</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
