@import '../../scss/_variables.scss';

#admin-game {
  height: 100%;
  display: flex;

  .container {
    margin-top: 50px;
  }

  .admin-header {
    height: 70px;
  }

  .card-header {
    color: white;
    background-color: $primary-color;
  }

  .game-name {
    margin-left: 50px;
    color: gray;
    font-size: x-large;
  }

  .column-card {
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
  }

  .card-group {
    margin-top: 25px;
  }

  .game-info-box {
    height: 200px;
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    display: table;

    span {
      color: gray;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .delete-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .actions-table {
    height: 20em;
    width: 25em;
    overflow: auto !important;
  }

  .underlined {
    border-bottom-color: $primary-color;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  .ml-3{
    margin-left: -1rem !important;
  }
}

table th {
  color: grey;
  font-size: 1rem;
}
