<div id="admin-game">
  <div class="container push-bottom">
    <div class="card">
      <admin-navbar></admin-navbar>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded admin-header">
        <a href="#" ng-click="vm.goBack()">
          <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
        </a>
        <span class="game-name">{{vm.game.name}}</span>
      </nav>
      <div class="card-block row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header text-center">
              Miembros
            </div>
            <div class="card-block column-card">
              <ul>
                <li ng-repeat="teamMember in vm.teamMembers">
                  <p>{{teamMember.name}}</p>
                </li>
                <li ng-if="vm.loadingGames">
                  <p clispan="6">Cargando miembros...</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header text-center">
              Decisiones tomadas
            </div>
            <div class="card-block column-card">
              <ol>
                <li ng-repeat="decision in vm.decisions">
                  <p>{{decision.tactic.name}}</p>
                </li>

                <li ng-if="vm.loadingGames">
                  <p colspan="6">Cargando decisiones...</p>
                </li>
                <li ng-if="!vm.loadingGames && (!vm.decisions.length || vm.decisions.length === 0)">
                  <p colspan="6">Aún no se han tomado decisiones</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header text-center">
              Decisiones pendientes
            </div>
            <div class="card-block column-card">
              <ol>
                <li ng-repeat="tactic in vm.tactics | filter : { disabled: false }">
                  <p>{{tactic.name}}</p>
                </li>

                <li ng-if="vm.loadingGames">
                  <p colspan="6">Cargando decisiones...</p>
                </li>
                <li ng-if="!vm.loadingGames && (!vm.tactics.length || vm.tactics.length === 0)">
                  <p colspan="6">No quedan decisiones</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card-group">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-block">
                <div class="col-sm-6 game-info-box">
                  <span><h3>${{vm.game.budget}}</h3>disponibles</span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header"></div>
              <div class="card-block">
                <div class="col-sm-6 game-info-box">
                  <span><h3>{{vm.game.availableDays}}</h3>días disponibles</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card-group">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body">
                <table class="table text-center table-hover w-auto m-auto">
                  <thead class="table-header">
                    <tr>
                      <th></th>
                      <th>Toma de decisión </th>
                      <th>Etapa</th>
                      <th>Posición Óptima</th>
                      <th>Puntos Obtenidos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="tactic-{tactic.id}" ng-if="!vm.loading" ng-repeat-start="decision in vm.decisions">
                      <td>
                        {{$index+1}}
                      </td>
                      <td class="text-left">
                        {{decision.tactic.name}}
                      </td>
                      <td>
                        {{decision.tactic.stage.name}}
                      </td>
                      <td>
                        {{decision.tactic.idealPosition}}
                      </td>
                      <td>
                        {{decision.gainScore}}
                      </td>
                    </tr>
                    <tr class="d-xl-none descriptionRow" ng-repeat-end ng-show="vm.collapse[tactic.id]">
                      <td></td>
                      <td class="text-left font-italic" colspan="4">
                        {{decision.tactic.description}}
                      </td>
                    </tr>
                    <tr ng-if="vm.loading">
                      <td colspan="3"><i class="fa fa-refresh fa-spin fa-fw"></i>Cargando decisiones...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 delete-row">
          <a class="pull-right" href="#" ng-hide="true" ng-click="vm.deleteGame()">Eliminar Equipo</a>
        </div>
      </div>
    </div>
  </div>
</div>
