@import '../../scss/_variables.scss';

.incae-container {
  height: 100%;

  .footer {
    color: #575756;
    width: 100%;
    background: linear-gradient(90deg, rgba(11,48,72,1) 0%, rgba(4,25,38,1) 100%);
  }

  a {
    color: $primary-color;
  }

  .custom-image {
    background-size: contain !important;
    height: 75px;
    width: 75px;
    margin: 0px auto 0px auto;
  }

  @mixin set-img($img-url) {
    background: url($img-url) no-repeat center;
    @extend .custom-image;
  }

  @mixin custom-image-mixin($img-url, $hover-img-url, $active-img-url) {
    @include set-img($img-url);
    cursor: pointer;

    &:hover {
      background: url($hover-img-url) no-repeat center;
      @extend .custom-image;
    }

    &:active, &.selected {
      background: url($active-img-url) no-repeat center;
      @extend .custom-image;
    }
  }

  .target-image {
    @include custom-image-mixin( '../../img/navbar/target.png', '../../img/navbar/target.png', '../../img/navbar/target.png');
  }

  .case-image {
    @include custom-image-mixin( '../../img/navbar/note.png', '../../img/navbar/note.png', '../../img/navbar/note.png');
  }

  .people-image {
    @include custom-image-mixin( '../../img/navbar/entrevistasIcono.png', '../../img/navbar/entrevistasIcono.png', '../../img/navbar/entrevistasIcono.png');
  }
  
  .board-image {
    @include custom-image-mixin( '../../img/navbar/icono3.png', '../../img/navbar/icono3.png', '../../img/navbar/icono3.png');
  }
  
  .tactics-image {
    @include custom-image-mixin( '../../img/navbar/flecha.png', '../../img/navbar/flecha.png', '../../img/navbar/flecha.png');
  }

  .results-image {
    @include custom-image-mixin( '../../img/navbar/grafico.png', '../../img/navbar/grafico.png', '../../img/navbar/grafico.png');
  }
  .whiteText {
    color: white;
  }
}