<footer class="footer">
  <nav class="nav nav-justified" role="navigation">
    <div class="nav-item col-auto p-2" ng-click="vm.goToWelcome()">
      <div class="target-image" ng-class="{selected: vm.selected ==='target'}"/>
      <a class="whiteText" href="#">Objetivos</a>
    </div>
    <div class="nav-item col-auto p-2" ng-click="vm.goToCases()">
      <div class="case-image" ng-class="{selected: vm.selected ==='cases'}"/>
      <a class="whiteText" href="#">Caso</a>
    </div>
    <div class="nav-item col-auto p-2" ng-click="vm.goToPeople()">
      <div class="people-image" ng-class="{selected: vm.selected === 'main'}"/>
      <a class="whiteText" href="#">Interesados</a>
    </div>
    <div class="nav-item col-auto p-2" ng-click="vm.goToKanban()">
      <div id="boardImg" class="board-image" ng-class="{selected: vm.selected === 'kanban'}"/>
      <a class="whiteText" href="#">Estrategia de Cambio</a>
    </div>
    <div class="nav-item col-auto p-2" ng-click="vm.goToTactics()"">
      <div class="tactics-image" ng-class="{selected: vm.selected === 'tactics'}"/>
      <a class="whiteText" href="#">Decisiones</a>
    </div>
    <div class="nav-item col-auto p-2" ng-click="vm.goToResults()">
      <div class="results-image" ng-class="{selected: vm.selected === 'results'}"/>
      <a class="whiteText" href="#">Resultados</a>
    </div>
  </nav>
</footer>
