@import '../../scss/_variables.scss';

#consolidated-results {
  height: 100%;
  display: flex;

  .container {
    margin-top: 50px;

    .container-result {
      width: 68%;
      position: fixed;
      left: 4%;
      top:4%;
    }

    .actions-table {
      height: 20em;
      width: 25em;
      overflow-y: auto;
    }

    .underlined {
      border-bottom-color: $primary-color;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }

    .search-bar {
      border-radius: 30px;
    }

    .gray-card {
      background-color: $incae-gray-light;
      padding: 0;
      min-height: 470px;
    }

    .card-text {
      font-size: 15px;
    }

    .card-title {
      color: gray;
    }
  
    .vertical-divider {
      width: 2px;
      background-color: #e9e9e9;
    }
  
    .btn-show {
      font-size: 20px;
      color: $primary-color;
    }

    .result-data {
      border-radius: 10px;
      background-color: #f6f6f6;
    }

    .result-label-success{
      color: $ng-notify-success-color;
    }

    .result-label-fail{
      color: $ng-notify-error-color;
    }

    .ml-3, .mx-3 {
      margin-left: 0rem !important;
    }

    .card-header {
      color: white;
      background-color: $primary-color;
    }
  }
}