<div id="consolidated-results">
  <div class="container push-bottom">
    <div class="card">
      <admin-navbar></admin-navbar>
    </div>
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="row mx-0 mt-0">
            <div class="col-4">
              <nvd3 options="vm.options" data="vm.graphData"></nvd3>
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-5">
          <div class="row">
            <input ng-model = "vm.searchTerm" class="form-control search-bar my-3" placeholder="Buscar">
          </div>
          <div class="card-block actions-table">
            <div class="row" ng-repeat="stage in vm.allActionsList | filter: vm.searchTerm | orderBy:'-decisions.decision.gainScore'">
              <div class="col">
                <div class="row underlined" role="tab">
                  <div class="col col-11">
                    <h6 class="mb-0 pt-4" >
                      {{stage.name}}
                    </h6>
                  </div>
                  <div class="col col-1 pt-3">
                    <a ng-init="vm.collapse[stage.id] = false" ng-click="vm.changeState(stage.id)">
                      <i class="fa btn-show" ng-class="{'fa-chevron-down': !vm.collapse[stage.id], 'fa-chevron-up': vm.collapse[stage.id]}"></i>
                    </a>
                  </div>
                </div>
                <div ng-show="vm.collapse[stage.id]" >
                  <div class="mt-1">
                    <div class="row" ng-repeat="decision in stage.decisions | orderBy:'+gainScore'">
                      <div class="col col-10">
                        <p href="#">{{decision.name}}</p>
                      </div>
                      <div class="col col-2">
                        <p class="ml-3">{{decision.gainScore | number:2}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><h3 ng-if="vm.game" class="result-label-success" ng-class="{'result-label-fail': vm.game.status === 'FINISHED_LOST'}">{{vm.status}}</h3> </div>
      </div>
    </div>
  </div>
</div>