<div id="saved-games" class="incae-background">
  <div class="container col-md-7 col-lg-6">
    <div class="card">
      <div class="card-block px-5">
        <table class="table table-hover text-center">
          <thead class="table-header">
            <tr>
              <th>Equipo</th>
              <th>Última vez</th>
              <th>Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="savedGame in vm.savedGames track by $index" ng-click="vm.setSelectedGame(savedGame)" ng-class="{'table-active': savedGame.id === vm.selectedGame.id}">
              <td>{{savedGame.name}}</td>
              <td>{{savedGame.lastVisit | date:'M/d/yy h:mm a'}}</td>
              <td>{{savedGame.culturalChangeScore | number:2}}%</td>
            </tr>
            
            <tr ng-if="vm.loadingGames">
              <td colspan="3">Cargando juegos...</td>
            </tr>
            <tr ng-if="!vm.loadingGames && (!vm.savedGames.length || vm.savedGames.length === 0)">
              <td colspan="3">Aún no se han creado juegos</td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-md-center">
          <a class="btn btn-rounded-outline-secondary mx-3 my-1" ui-sref="home">Cancelar</a>
          <button class="btn btn-rounded-primary mx-3 my-1" ng-disabled="!vm.selectedGame.id" ng-click="vm.selectGame()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
