@import '../scss/_variables.scss';

#saved-games {
  min-height: 100%;
  display: flex;
  align-items: center;
  .table-header {
    background-color: $incae-gray;
    color: white;
    font-size: 13px;
    th {
      padding: 0.4em;
      text-align: center !important;
    }
  }
  tbody tr {
    cursor: pointer;
  }
}
