@import '../scss/_variables.scss';

#tactics {

  .container-tactic-view {
    max-width: 1500px;
    padding: 0px;
    width: auto;
    height: auto;
    flex-grow: 1;
    margin: 25px ;
    @media (min-width: 1500px) {
      padding: 25px;
    }

    .btn-rounded-outline-secondary {
      padding: 0.5em 1em !important;

      @media (min-width: 1200px) {
        padding: 0.5em 3em !important;
      }
    }
  }

  .incae-input {
    border-radius: 30px;
    border-width: 2px;
  }

  th {
    background-color: $incae-gray;
    color: white;
    font-size: 13px;
    position: sticky !important;
    white-space: nowrap;
    top: 0;
    padding: 6px;
  }

  .descriptionRow {
    td {
      border: none;
      padding-top: 0px;
    }
  }

  .tactics-container {
    margin-top: 20px;
    height: 0px;
    overflow: auto;
  }

  .btn-detail {
    font-size: 35px;
    color: $incae-gray;
  }

  .btn-show {
    font-size: 20px;
    color: $primary-color;;
  }

  .modal-center {
    padding-top: 15%;
  }

  .done-check {
    color: $ng-notify-success-color;
  }

  .modal {
    position: absolute;
    z-index: 10040 !important;
    widows: 1000px;
    height: auto;

    .modal-dialog {
      position: fixed;
      left: 15%;
      top: 10%;
      width: auto;
      height: auto;
    }

    .btn {
      width: 10em;
    }

    .thumbnail {
      width: 5em;
      height: 5em;
      cursor: pointer;
    }

    .modal-org-chart-Compras {
      border-top: 10px solid $purchasing-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Estrategia {
      border-top: 10px solid $ebo-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Finanzas {
      border-top: 10px solid $finances-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Marketing {
      border-top: 10px solid $marketing-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Operaciones {
      border-top: 10px solid $operation-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Presidencia {
      border-top: 10px solid $president-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Recursos {
      border-top: 10px solid $hr-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart-Ventas {
      border-top: 10px solid $sales-color !important;
      border-radius: 5px;
      color:#e6e7e8;
      height: 250px;
      width: 90px;
    }

    .modal-org-chart {      
      .modal-person-name {
        color: black;
        font-size: 15px;
        float:center;
      }

      .modal-person-title {
        color: white;
        font-size: 13px;
        float: center;
        font: italic;
      }

      .modal-person-department {
        color:$incae-gray-light;
        font-size: 12px;
        font-style: italic;
        float: top;
      }

      .google-visualization-orgchart-nodesel {
        border: none !important;
      }

      .google-visualization-orgchart-node {
        border: none !important;
      }
    }

    .modal-title-header {
      background-color: $primary-color;
      height: 50px;
      width: auto;
      text-align: center;
      padding-top: 2.5%;

      span {
        color: white;
        font-weight: bold;
      }

    }

    .modal-content {
      width: 900px;
      height: 550px;
    }

    .modal-body {
      width: 900px;
      height: 550px;
    }


    .people-container {
      padding-left: 10%;
      padding-right: 20%;
      height: 375px;
      width: auto;

      overflow-y: auto;
      overflow-x: hidden;
      background-color: $incae-gray-light;

      .col {
        padding-left: 0%;
        padding-right: 0%;
      }
      .element {
        padding-top: 5%;
        border-style: solid;
        border-width: 0.01px 0px 0px 0px ;
        border-color: $incae-gray-middle;

        .person-title {
          font-size: 80%;
          line-height: 90%;
          color: $incae-gray-middle;
        }

        .person-name {
          padding-top: 10%;
          color: $primary-color;
        }

        .choose{
          padding-top: 3%;
        }
      }
    }

    .selected-button {
      background-color: $ng-notify-success-color !important;
    }

    .modal-container-footer {
      padding-top: 1%;
      height: 30px;
      background-color: $incae-yellow;
      color: white;
      text-align: center;
      font-size: 80%;

      .bold {
        font-weight: bold;
      }
    }
  }

  .modal-backdrop {
    z-index: -1 !important;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
  }

  #accept {
    position: relative;
    left: 1%;
  }
}

@media screen and (max-height: 1024px) and (max-height: 768px) {
  #tactics .modal .modal-dialog {
    left: 6%;
  }
}
