<div id="tactics" class="d-flex flex-row-reverse incae-background incae-container">
  <navbar></navbar>
  <div class="d-flex flex-column-reverse flex-grow-1">
    <bottom-navbar></bottom-navbar>
    <div class="container card container-tactic-view">
      <div class="d-flex flex-column card-body">
        <div class="row justify-content-md-center">
          <div class="col-12 col-lg-9 ml-1">
            <input type="text" class="form-control incae-input" id="search" ng-model="searchTerm" placeholder="Buscar">
          </div>
        </div>
        <div class="flex-grow-1 justify-content-md-center tactics-container">
          <table class="table text-center table-hover w-auto">
            <thead class="table-header">
              <tr>
                <th class="d-xl-none"></th>
                <th ng-click="vm.sortBy('name')"> Toma de decisión <i ng-class="{reverse: reverse}" class="fa fa-arrows-v" aria-hidden="true"></i></th>
                <th ng-click="vm.sortBy('description')" class="d-none d-xl-table-cell"> Descripción <i ng-class="{reverse: reverse}" class="fa fa-arrows-v" aria-hidden="true"></i></th>
                <th ng-click="vm.sortBy('days')"> Duración <i ng-class="{reverse: reverse}" class="fa fa-arrows-v" aria-hidden="true"></i></th>
                <th ng-click="vm.sortBy('price')"> Precio <i ng-class="{reverse: reverse}" class="fa fa-arrows-v" aria-hidden="true"></i></th>
                <th ng-click="vm.sortBy('disabled')"> Estado <i ng-class="{reverse: reverse}" class="fa fa-arrows-v" aria-hidden="true"></i></th>
              </tr>
            </thead>
            
            <tbody>
              <tr id="tactic-{tactic.id}" ng-if="!vm.loading" ng-repeat-start="tactic in vm.tactics | filter: searchTerm | orderBy:vm.propertyName: vm.reverse">
                <td class="d-xl-none px-0">
                  <a ng-init="vm.collapse[tactic.id] = false" ng-click="vm.changeCollapseState(tactic.id)">
                    <i class="fa btn-show" ng-class="{'fa-chevron-down': !vm.collapse[tactic.id], 'fa-chevron-up': vm.collapse[tactic.id]}"></i>
                  </a>
                </td>
                <td class="text-left">
                  {{tactic.name}}
                </td>
                <td class="d-none d-xl-table-cell font-italic text-left">
                  {{tactic.description}}
                </td>
                <td>
                  {{tactic.days}}&nbsp;Día<span ng-show="tactic.days > 1">s</span>
                </td>
                <td>
                  $&nbsp;{{tactic.price.toLocaleString()}}
                </td>
                <td>
                  <button class="btn btn-rounded-outline-secondary" ng-if="!tactic.disabled" ng-click="vm.applyTactic(tactic)">Aplicar</button>
                  <i class="fa fa-check done-check" ng-if="tactic.disabled"></i>
                </td>
              </tr>
              <tr class="d-xl-none descriptionRow" ng-repeat-end ng-show="vm.collapse[tactic.id]">
                <td></td>
                <td class="text-left font-italic" colspan="4">
                  {{tactic.description}}
                </td>
              </tr>
              <tr ng-if="vm.loading">
                <td colspan="3"><i class="fa fa-refresh fa-spin fa-fw"></i>Cargando decisiones...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" role="dialog" id="involvedEmployeesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-title-header">
            <span>Agente de Cambio</span>
          </div>
          <div class="people-container" id="scroll">
            <div id="orgChart" style="align-content:center;" class="modal-org-chart"></div>
          </div>
          <div class="modal-container-footer ">
            <p><span class="bold">Selección Multiple.</span> Seleccione los colaboradores</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-rounded-outline-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" id="accept" class="btn btn-rounded-primary mx-3 my-1" ng-click="vm.applyTactic(vm.tactic)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
