<div id="admin">
  <div class="container push-bottom">
    <div class="card">
      <admin-navbar></admin-navbar>
      <div>
        <div class="row mx-2 my-2 form-group">
          <div class="col-12 mx-2 my-2">
            <button class="generate-report btn btn-outline-secondary pull-right action" ng-click="vm.generateCSVreport()">
              Descargar Resultados
            </button>
          </div>
        </div>
        <table class="table table-hover text-center">
          <thead class="table-header bg-faded">
            <tr class="admin-header">
              <th>Equipo</th>
              <th>Contraseña</th>
              <th>Última vez</th>
              <th>Días Disponibles</th>
              <th>Presupuesto</th>
              <th>Puntaje Cultura de Cambio</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="game in vm.games | orderBy:'-culturalChangeScore'">
              <td class="name">{{game.name}}</td>
              <td class="password">{{game.user.password}}</td>
              <td class="lastVisit">{{game.lastVisit | date:'M/d/yy h:mm a'}}</td>
              <td class="availbleDays">{{game.availableDays}}</td>
              <td class="budget">$ {{game.budget}}</td>
              <td class="culturalChangeScore">{{game.culturalChangeScore | number:2}}%</td>
              <td>
                <button class="btn btn-rounded-outline-secondary action" ng-click="vm.viewGame(game)"><i class="fa fa-eye fa-fw"></i></button>
                <button class="btn btn-rounded-outline-secondary action" data-toggle="modal" data-target="#confirmDelete{{$index}}">
                  <i class="fa fa-trash-o fa-fw"></i></button>
                <div class="modal" id="confirmDelete{{$index}}" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p>¿Desea eliminar el equipo?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-rounded-primary mx-3 my-1" id="deleteTeam" data-dismiss="modal"
                          ng-click="vm.deleteGame(game)">Eliminar</button>
                        <button type="button" class="btn btn-rounded-outline-secondary mx-3 my-1" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr ng-if="vm.loadingGames">
              <td colspan="8">Cargando juegos...</td>
            </tr>
            <tr ng-if="!vm.loadingGames && (!vm.games.length || vm.games.length === 0)">
              <td colspan="8">Aún no se han creado juegos</td>
            </tr>
            <tr>
              <td colspan="8" data-toggle="modal" data-target="#create-team-modal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal" id="create-team-modal" role="dialog" aria-labelledby="create-team-modal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog create-teams-modal-dialog" role="document">
            <div class="modal-content create-teams-modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Nuevo equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.updateTeamsList()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <game-create></game-create>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.updateTeamsList()">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>