@import '../scss/_variables.scss';

#admin {
  height: 100%;
  display: flex;

  .container {
    margin-top: 50px;
    max-width: 90%;
  }

  .card-header {
    color: white;
    background-color: $primary-color;
  }

  .admin-header {
    height: 70px;
  }

  table {
    color: $incae-gray-middle;
    align-content: center;

    tbody {
      tr {
        .name, .password, .lastVisit, .availbleDays, .budget, .culturalChangeScore, .leadershipChangeScore {
          padding-top: 2%;
        }

        .fa-plus-circle {
          color: green;
          font-size: 20pt;
        }

        .create-team-modal {
          cursor: pointer;
        }
      }
    }
  }

  .table-header {
    color: $primary-color;
    th {
      padding: 0.4em;
      text-align: center !important;
    }
  }

  .action {
    padding: 0.5em 1em !important;
  }

  .create-teams-modal-dialog {
    min-width: 80%;

    .create-teams-modal-content {
      height: 90vh;
    }
    .player-input-data {
      input, button {
        margin: 2px;
      }

      button {
        color: $incae-gray;
        background-color: white;
        border-color: white;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: gray;
        }
      }
    }
  }
}