<div id="results" class="incae-background incae-container d-flex flex-row-reverse">
  <navbar></navbar>
  <div class="d-flex flex-column-reverse flex-grow-1">
    <bottom-navbar></bottom-navbar>
    <div class="flex-grow-1 m-4 my-lg-5 card">
      <div class="d-flex flex-column card-block">
        <h3 ng-if="vm.game" class="result-label-success" ng-class="{'result-label-fail': vm.game.status === 'FINISHED_LOST'}">{{vm.status}}</h3>
        <div class="flex-grow-1 d-flex flex-sm-wrap justify-content-center">
          <nvd3 options="vm.chartOptions" data="vm.graphData"></nvd3>
          <div class="flex-column d-flex flex-grow-1">
            <input ng-model="vm.searchTerm" class="form-control search-bar my-0 my-sm-3" placeholder="Buscar">
            <div class="flex-grow-1 actions-table">
              <div class="col" ng-repeat="stage in vm.actionsList | filter: vm.searchTerm">
                <a ng-init="vm.collapse[stage.id] = false" ng-click="vm.changeState(stage.id)">
                  <div class="row underlined" role="tab">
                    <h6 class="mb-0 pt-4">
                      {{stage.name}}
                      <i class="fa btn-show" ng-class="{'fa-chevron-down': !vm.collapse[stage.id], 'fa-chevron-up': vm.collapse[stage.id]}"></i>
                    </h6>
                  </div>
                </a>
                <div ng-show="vm.collapse[stage.id]">
                  <div class="row mt-1" ng-repeat="decision in stage.decisions">
                    <div class="col col-10">
                      <p href="#">
                        <span class="dot" ng-style="{ 'background' : (decision.gainScore === 6) ? 'green' : (decision.gainScore === 3) ? 'yellow' : (decision.gainScore < 0) ? 'red': 'grey' }"></span> {{decision.name}}
                      </p>
                    </div>
                    <div class="col col-2">
                      <p class="text-right">{{decision.gainScore | number:2}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
