@import '../scss/_variables.scss';

#results {
  display: flex;

  .underlined {
    border-bottom: 2px solid $primary-color;
  }

  nvd3 {
    height: 60px;
    margin-top: -60px;
    @media (min-width: 1200px) {
      height: auto;
      margin: auto;
    }
  }

  .actions-table{
    height: 0px;
  }

  .search-bar {
    border-radius: 30px;
  }

  .actions-table{
    overflow: auto;
  }

  .btn-show {
    font-size: 20px;
    color: $primary-color;
  }

  .result-label-success{
    color: $ng-notify-success-color;
  }

  .result-label-fail{
    color: $ng-notify-error-color;
  }

  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }
}
