@import './scss/_variables';
@import './scss/_components';
@import './scss/_custom';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/ng-notify/src/styles/ng-notify';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.customNotify.ngn-success {
  background-color: $ng-notify-success-color;
}

.customNotify.ngn-error {
  background-color: $ng-notify-error-color;
}

.nvtooltip {
  background-color: white;
}