

.incae-background {
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@mixin btn-basic($color, $border, $background) {
  color: $color !important;
  border-color: $border !important;
  background-color: $background !important;
  padding: 0.5em 3em !important;
  border-radius: 50px !important;
  cursor: pointer;
}

.btn-outline-primary {
  @include btn-basic($primary-color, $primary-color, transparent);
  padding: 0.7em 4em !important;
  border: 0px;
  &:hover {
    color: white !important;
    background-color: $primary-color !important;
    outline: none;
  }
}

.input-outline-white {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.btn-rounded-primary {
  @include btn-basic(white, $primary-color, $primary-color);
  border: 0px !important;
  &:hover {
    background-color: $primary-color-light !important;
    border-color: $primary-color-light !important;
  }
}

.btn-rounded-outline-secondary {
  @include btn-basic($incae-gray-middle, $incae-gray-middle, transparent);
  &:hover {
    color: white !important;
    background-color: $incae-gray-middle !important;
  }
}

#scroll::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: $incae-gray-light;
  }

  #scroll::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $incae-gray;
  }
