$primary-color: rgb(0,63,123);
$primary-color-light: #8f93b4;
$incae-gray: rgb(109, 110, 113);
$incae-gray-light: rgb(230, 231, 232);
$incae-gray-middle: rgb(167, 169, 172);
$incae-gray-case-selected: #8f8e8e;
$incae-blue-button-active: #032a4e;
$ng-notify-error-color:rgb(220, 84, 75);
$ng-notify-success-color: rgb(38, 161, 99);
$president-color: #596c83;
$ebo-color: #1f2832;
$purchasing-color: #5e6269;
$hr-color: #3b4c62;
$sales-color: #3e464e;
$marketing-color: #446482;
$finances-color: #2f3d51;
$operation-color: #686868;
$incae-yellow: rgb(255, 167, 64);
$incae-purple: #A52C72;
$incae-green: #45ab34;
$incae-blue-dark: #1a5ca7;
$incae-orange: #cb7e1e;
$green: #3AB64A;
$toggle-color: #4f607a;